*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}


.modal_btn{
    height: 100%;
    width: 100%;
    background-color: bisque;

    position: absolute;
    top: 0;
    left: 0;

    display: none;
    justify-content: center;
    align-items: center;
}

.modal_btn:hover{
    background-color: aqua;
}


input:checked ~ .modal_btn{
    background-color: green;
    display: flex;
}